/*ESTILOS GENERALES*/
*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: 'Open Sans', Verdana;
}

body{
    background: white;
}
.clearfix{
    clear: both;
    float: none;
}

.container{
    width: 85%;
    margin: 0px auto;
}
/*Cabecera*/
#main-header{
    background: white;
    height: 100px;
    line-height: 85px;
   /* border-bottom: 1px solid black;*/
}
#logo{
    width: 63%;
    float: left;
}
#logo h1{
    font-weight: bold;
    font-size: 25px;
    color: #7ed957;
}
#menu{
    width: 380px;
    float: left;
}
#menu ul li{
    list-style: none;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
}
#menu ul li a{
    color: black;
}
#menu ul li a:hover{
    color: #7ed957;
}
/*slider*/
#slider{
    height: 300px;
    background: #7ed957;
}
#slider h2{
    font-size: 40px;
    text-align:  center;
    color: white ;
    line-height: 290px;
    text-shadow: 0px 0px 6px black;
}

.btn{
        text-decoration: none;
        padding: 10px;
        font-weight: 600;
        font-size: 20px;
        color: #ffffff;
        background-color: #7ed957;
        border-radius: 6px;
        border: 2px solid black;
}

/* SERVICIOS */
.subheader{
    font-size: 34px;
    color: #333;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
    padding-bottom: 15px;
    border: 1px solid #7ed957;
}
.service, .video{
    width: 33%;
    text-align: center;
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
}
.service img{
    height: 48;
    margin-bottom: 20px;
}
.service h3{
    margin-bottom: 10px;
}
.service p {
    color: #444;
}

footer {
    background-color: black;
    margin-bottom: 0px;
    margin-top: 10px;
   /* background: #333;*/
    padding-top: 5px;
    padding-bottom: 40px;
    margin-top: 30px;
    text-align: center;
}
#footer .subheader{
    color: white;
}

#networks{

    display: block;
    width: 216px;
    margin: 0px auto;
    list-style: none;
    margin-bottom: 20px;
    margin-top: 20px;
}
#networks li{
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    transition: all 216ms;
}

#networks li:hover{
    opacity: 0.8;
    transform: scale(1.1,1);
}

